<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wines</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="p-3 mb-2 bg-dark text-white">
	<h1>Edit wine</h1>

	<form method="post" action="#" th:action="@{../savewine}"
		th:object=${wine} class="form-group">
		<input type="hidden" th:field="*{id}" class="form-control" />
		<div class="col-4">
		
			<p>
				Name: <input type="text" th:field="*{name}" class="form-control"
					placeholder="Name" />
			</p>
			
			<label for="typelist">Type: </label> <select id="typelist"
				th:field="*{type}" class="form-control">
				<option th:each="type: ${types}" th:value="${type.typeid}"
					th:text="${type.name}"></option>
			</select>
			
			<p>
				Price: <input type="text" th:field="*{price}" class="form-control" />
			</p>
			
			<p>
				Profile: <input type="text" th:field="*{profile}"
					class="form-control" placeholder="Flavour profile" />
			</p>
			
			<p>
				Country: <input type="text" th:field="*{country}"
					class="form-control" placeholder="Country" />
			</p>

			
				<label for="yearlist">Vintage: </label> <select id="yearlist" 
				th:field="*{year}" class="form-control">
					<option
						th:each="i : ${#numbers.sequence(#dates.year(#dates.createNow()), 1900)}"
						th:value="${i}" th:text="${i}"></option>
				</select>
			
			
				<label for="gradelist">Grade: </label> <select id="gradelist"
				th:field="*{grade}" class="form-control">
				<option th:value=1 th:text="1"></option>
				<option th:value=2 th:text="2"></option>
				<option th:value=3 th:text="3"></option>
				<option th:value=4 th:text="4"></option>
				<option th:value=5 th:text="5"></option>
			</select>
				
				<label for="recolist">Recommendation: </label> <select id="recolist"
				th:field="*{foods}" multiple class="form-control">
				<option th:each="food: ${foods}" th:value="${food.foodid}"
					th:text="${food.name}"></option>
			</select>
			
			<label for="commentarea">Comment: </label>
			<textarea class="form-control" id="commentarea" rows="3"
				th:field="*{comment}" placeholder="Comment" ></textarea>
				<br>
			
			<p>
				<input type="submit" value="Save" class="btn btn-success"></input>
			</p>
		</div>
	</form>

</body>
</html>