<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wines</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="p-3 mb-2 bg-dark text-white">
	<h1>Hello wines</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Type</th>
			<th>Price</th>
			<th>Profile</th>
			<th>Country</th>
			<th>Vintage</th>
			<th>Grade</th>
			<th>Food recommendation</th>
			<th>Comment</th>
		</tr>
		<tr th:each="wine : ${wines}">
			<td th:text="${wine.name}"></td>
			<td th:text="${wine.type.name}">
			<td th:text="${wine.price}"></td>
			<td th:text="${wine.profile}"></td>
			<td th:text="${wine.country}"></td>
			<td th:text="${wine.year}"></td>
			<td th:text="${wine.grade}"></td>
			<td th:text="${wine.foods}"></td>
			<td th:text="${wine.comment}"></td>
			<td><a th:href="@{edit/{id}(id=${wine.id})}"
				class="btn btn-warning"> Edit </a></td>
			<td><a th:href="@{delete/{id}(id=${wine.id})}"
			class="btn btn-danger"> Delete </a></td>

		</tr>
	</table>
	<p>
		<a href="/addwine" class="btn btn-success">Add wine</a>
	</p>
</body>
</html>